.ok {
	color: #3d5a80 !important;
	transition: all 0.3s ease 0s;
	}
.ok:hover{
	color: #c92e2e !important;
	transition: all 0.3s ease 0s;
	}
.nav-item{
	color: black;
}

#nav{
	font-size: larger;
}
#navbarDropdownMenuLink{
	font-size: larger;
}