<div>
    <div class="title">
         About Us
    </div>

    <div class="content">
        <b> Know Our History :-</b>
        <br>
        <br>
        &nbsp;&nbsp;
	    KanBan Is an Indian BASED Software Development Organization based 	COMPANY KNOWN FOR ITS STRATEGIC-THINKING TEAM OF ONLINE EXPERTS WITH AN 	INNOVATIVE EDGE.

	    We succeed on creating smart, integrated and creative brand marketing 	campaigns and perfect 	client journeys. We’re passionate about doing the 	premium work we can and pushing latest 	technology to its limits. And we 	attain outcomes to be proud of. Our Approach is to endow with various web 	solutions for clients of all sizes across diverse segments, ranging from 	small businesses to international corporations. Although, we specialize in 	catering to ceramic industry, with over 90% clientele being ceramic tile 	manufacturers, suppliers and dealers.

	    Right from the initial stage to the finish, our customized web solutions are 	targeted towards simply one objective And that is To Craft Tomorrow's Digital 	Landscape.
        <br><br>
        <b>OUR APPROACH :-</b>
        <br>
        &nbsp;&nbsp;
        <br>

        Ditch the cluttered spreadsheets, manual processes, and outdated legacy systems that weigh 	down your business. Collaborate with our team to develop custom software solutions designed 	just for you.

        Harness our proven approach for turning technology into a value driven for your business.
    
        We will enhance task coordination, improve prioritization, foster collaboration,
        provide comprehensive analytics, and empower teams and project managers in
        delivering high-quality software products efficiently.
    
        We aim to address these challenges by providing
        a centralized, user-friendly, and feature-rich platform with integrated Kanban reporting. 
        <br><br>
        <b>WHAT WE BELIVE :-</b>
        <br>
        &nbsp;&nbsp;
        <br>

	   <b> USER-FRIENDLY INTERFACE:- </b> Usability is the ease of use and learnability of a human-made 	object. The object of use can be a software application, website development, mobile 	applications, web design or anything a human interacts with. 

	   <b> FEATURE-RICH PLATFORM:-</b> Out team plan and strategies an idea into reality with their 	innovative thoughts and competence with right technique provided to you.We build Feature   	reach platforms for our clients.<br>

	   <b> Robust:-</b>We Create robust application is for Our precious Customers Which help them to grow 	fast and independently in the competative world.<br>

	    <b>COMMITMENT TO QUALITY</b>: We are committe to give you the ultimate services that too at very 	reasonable rates. Our motto is to believe in the excellence and thereby achieving all the 	expectations of our clients. We are gradually stretching our boundaries of our services 	with our baby steps.
        <br><br>
        <b>Our Clients :-</b>

        <div class="row text-center">
            <div class="col">
                <img src="https://www.zarla.com/images/bmw-logo-2400x2400-20220519.png?crop=1:1,smart&width=150&dpr=2">
                <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2022/05/Shell_logo.svg-e1659037248878.png?auto=format&q=60&fit=max&w=930" style="height: 200px;">
            </div>
        </div>
        <br>
        <b>Our Location :-</b>
        <br><br>
        <div class="loc">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d128597.63151466723!2d70.70781093448493!3d22.42538406918141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca31b716943b%3A0x6f28dbb9ed15f7f5!2sFlitzen%20Technologies%20-%20Software%2C%20Websites%2C%20Apps%20Development!5e0!3m2!1sen!2sin!4v1702119330732!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>   
</div>
